.content {
  background-color: #eef0f5;
  font-family: Rubik;
  height: 100vh;
}

.header {
  height: 268px;
  background-color: white;
}

.header .top-bar {
  height: 80px;
  background-color: #13202d;
  display: flex;
  justify-content: space-between;
}

.header .top-bar .title {
  padding-left: 65px;
  padding-top: 35px;
  color: white;
  font-size: 20px;
}

.header .top-bar .avatar {
  padding-top: 17px;
  padding-right: 27px;
  padding-bottom: 15px;
  color: white;
  display: flex;
  p {
    margin-top: 13px;
  }
}

.header .menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 32.8px;
}

.header .menu-bar .menu {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 7;
}

.header .menu-bar .menu-bar-logo {
  padding: 0px 40px;
  display: flex;
  flex: 3;
}
