.login-container {
  background-color: #13202D;
  height: 100vh;
}
.login-header {
  height: 28px;
  background-color: #A49362;
}
.login-logo {
  padding-top: 145.7px;
}
.admin-panel {
  color: white;
  padding-top: 43.9px;
  font-size: 39px;
  font-family: Rubik;
  padding-bottom: 37px;
}