.setup-item {
  width: 300px;
  height: 240px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: 24px;

  .item-icon {
    display: table;
    height: 96px;
  }
  .item-name {
    font-size: 24px;
  }
}
